*.o
*.exe
stego
a.out
.vscode/
secret.txt
decrypted.txt
recovered.txt
recovered_png.txt
recovered_diwali.txt
beautiful.bmp
beautiful.png
1.png
output.bmp
output.png
output_diwali.png
encrypted.bmp
encrypted.png
